
/* Nube 1 - Diseños */
.nube-pos-1 {
  bottom: 8%;
  left: 10%;
}
@media (min-width: 768px) {
  .nube-pos-1 {
    bottom: 10%;
    left: 12%;
  }
}
@media (min-width: 1024px) {
  .nube-pos-1 {
    bottom: 11%;
    left: 14%;
  }
}
@media (min-width: 1280px) {
  .nube-pos-1 {
    bottom: 14%;
    left: 18%;
  }
}

/* Nube 2 - Fotografía */
.nube-pos-2 {
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .nube-pos-2 {
    top: 1.5%;
    left: 45%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1024px) {
  .nube-pos-2 {
    top: 1%;
    left: 42%;
    transform: translateX(-50%);
  }
}
@media (min-width: 1280px) {
  .nube-pos-2 {
    top: 0%;
    left: 40%;
    transform: translateX(-50%);
  }
}

/* Nube 3 - Contacto */
.nube-pos-3 {
  top: 18%;
  right: 10%;
}
@media (min-width: 768px) {
  .nube-pos-3 {
    top: 19%;
    right: 12%;
  }
}
@media (min-width: 1024px) {
  .nube-pos-3 {
    top: 20%;
    right: 14%;
  }
}
@media (min-width: 1500px) {
  .nube-pos-3 {
    top: 20%;
    right: 11%;
  }
}
